@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base { */
  /* :root {
    --background: 124 52.1% 90.36%;
    --foreground: 126 76% 1%;
    --muted: 246 7% 92%;
    --muted-foreground: 246 5% 39%;
    --popover: 126 68% 98%;
    --popover-foreground: 126 76% 1%;
    --card: 126 68% 97%;
    --card-foreground: 0 0% 0%;
    --border: 126 13% 93%;
    --input: 126 13% 93%;
    --primary: 126 78% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 246 78% 23%;
    --secondary-foreground: 246 78% 83%;
    --accent: 6 78% 23%;
    --accent-foreground: 6 78% 83%;
    --destructive: 0 86% 23%;
    --destructive-foreground: 0 86% 83%;
    --ring: 126 78% 23%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 134 37% 4%;
    --foreground: 134 30% 97%;
    --muted: 104 16% 12%;
    --muted-foreground: 104 13% 70%;
    --popover: 134 37% 4%;
    --popover-foreground: 134 30% 97%;
    --card: 134 37% 5%;
    --card-foreground: 134 30% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 134 91% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 104 91% 38%;
    --secondary-foreground: 0 0% 100%;
    --accent: 164 91% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 80% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 134 91% 38%;
  }
} */
/* light def
:root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    } */
     /* # dark def
     .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --primary: 217.2 91.2% 59.8%;
      --primary-foreground: 222.2 47.4% 11.2%;
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --ring: 224.3 76.3% 48%;
    } */
@layer base {
  :root {
    --background: 190 100% 95%;
    --foreground: 190 5% 0%;
    --card: 190 50% 90%;
    --card-foreground: 190 5% 10%;
    --popover: 190 100% 95%;
    --popover-foreground: 190 100% 0%;
    --primary: 190 69% 85%;
    --primary-foreground: 0 0% 0%;
    --secondary: 190 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 152 30% 85%;
    --muted-foreground: 190 5% 35%;
    --accent: 152 30% 80%;
    --accent-foreground: 190 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 190 5% 90%;
    --border: 190 30% 50%;
    --input: 190 30% 18%;
    --ring: 190 69% 85%;
    --radius: 0.5rem;
   }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}