/* Base theme */
.bn-container[data-theming-css-variables-demo][data-color-scheme] {
    --bn-colors-editor-text: #020817;
    --bn-colors-editor-background: #e5fbff;
    --bn-colors-menu-text: #000000;
    --bn-colors-menu-background: #e5fbff ;/*#9cc2c9;*/
    --bn-colors-tooltip-text: #0e0f0f;
    --bn-colors-tooltip-background: #e5fbff;
    --bn-colors-hovered-text: #0b0d0e;
    --bn-colors-hovered-background: #4a838f;
    --bn-colors-selected-text: #da1010;
    --bn-colors-selected-background: #263131;
    --bn-colors-disabled-text: #9b0000;
    --bn-colors-disabled-background: #42615e;
    --bn-colors-shadow: #131111;
    --bn-colors-border: #050505;
    --bn-colors-side-menu: #000000;
    --bn-color-highlight-colors: #d30000;
    --bn-border-radius: 4px;
    --bn-font-family: Helvetica Neue, sans-serif;
  }
   
  /* Changes for dark mode */
  .bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
    --bn-colors-editor-text: #e5fbff;
    --bn-colors-editor-background: #020817;
    --bn-colors-side-menu: #e5fbff;
  }
   